{% with request.resolver_match.url_name as url_name %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'core:index' %}">
                <i class="fa-solid fa-city"></i>
                UrbanSIG
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
                    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'index' %}active{% endif %}"
                           href="{% url 'core:index' %}">
                            <i class="fa-solid fa-home"></i>
                            Início
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'mapa' %}active{% endif %}"
                           href="{% url 'sigweb:mapa' %}">
                            <i class="fa-solid fa-map"></i>
                            Mapa
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'imovel_list' %}active{% endif %}"
                           href="{% url 'cadastro:imovel_list' %}">
                            <i class="fa-solid fa-list"></i>
                            Relação dos Imóveis
                        </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if url_name == 'login' %}active{% endif %}"
                           href="{% url 'seguranca:login' %}">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            Login
                        </a>
                    </li>
                    <!--                <li class="nav-item dropdown">-->
                    <!--                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">-->
                    <!--                        <i class="fa fa-user"></i>-->
                    <!--                        Usuário-->
                    <!--                    </a>-->
                    <!--                    <ul class="dropdown-menu">-->
                    <!--                        <li>-->
                    <!--                            <a class="dropdown-item" href="user_form.html">-->
                    <!--                                <i class="fa-solid fa-edit"></i>-->
                    <!--                                Editar-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                        <li>-->
                    <!--                            <a class="dropdown-item" href="#">-->
                    <!--                                <i class="fa-solid fa-right-from-bracket"></i>-->
                    <!--                                Sair-->
                    <!--                            </a>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->
                    <!--                </li>-->
                </ul>
            </div>
        </div>
    </nav>
{% endwith %}
